html,
body {
	height: 100%;
}

#body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
	margin-top: -60px;
}

#hero-unit .hero-unit {
	margin-top: 60px;
}

#hero-unit {
	margin-bottom: -60px;
}

#container {
	margin-top: 60px;
	padding-bottom: 60px;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#footer .credit {
	margin: 20px 0;
}

#queue {
	margin: 8px 0;
}